# Data preprocessing

In [1]:
pwd

'C:\\Users\\quay\\Documents\\ShareIt\\notebooks'

In [2]:
cd ..\data

C:\Users\quay\Documents\ShareIt\data

## Imports

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

## Reading files

In [4]:
users = pd.read_csv("amazon_prime_users.csv")

In [5]:
items = pd.read_csv("ElectronicsData.csv")

## Data cleaning

### *users Schema*

In [6]:
users.head()

,User ID,Name,Email Address,Username,Date of Birth,Gender,Location,Membership Start Date,Membership End Date,Subscription Plan,Payment Information,Renewal Status,Usage Frequency,Purchase History,Favorite Genres,Devices Used,Engagement Metrics,Feedback/Ratings,Customer Support Interactions
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester,2024-01-15,2025-01-14,Annual,Mastercard,Manual,Regular,Electronics,Documentary,Smart TV,Medium,3.6,3
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview,2024-01-07,2025-01-06,Monthly,Visa,Manual,Regular,Electronics,Horror,Smartphone,Medium,3.8,7
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort,2024-04-13,2025-04-13,Monthly,Mastercard,Manual,Regular,Books,Comedy,Smart TV,Low,3.3,8
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire,2024-01-24,2025-01-23,Monthly,Amex,Auto-renew,Regular,Electronics,Documentary,Smart TV,High,3.3,7
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah,2024-02-14,2025-02-13,Annual,Visa,Auto-renew,Frequent,Clothing,Drama,Smart TV,Low,4.3,1

In [7]:
users.isna().sum().sum()

0

In [8]:
users.shape

(2500, 19)

#### Change columns to PascalCase

In [9]:
users.columns = users.columns.str.replace(' ', '')

In [10]:
users.columns

Index(['UserID', 'Name', 'EmailAddress', 'Username', 'DateofBirth', 'Gender',
       'Location', 'MembershipStartDate', 'MembershipEndDate',
       'SubscriptionPlan', 'PaymentInformation', 'RenewalStatus',
       'UsageFrequency', 'PurchaseHistory', 'FavoriteGenres', 'DevicesUsed',
       'EngagementMetrics', 'Feedback/Ratings', 'CustomerSupportInteractions'],
      dtype='object')

In [11]:
users[['FirstName', 'LastName']] = users['Name'].str.split(' ', 1, expand=True)

C:\Users\quay\AppData\Local\Temp\ipykernel_6996\2417526743.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  users[['FirstName', 'LastName']] = users['Name'].str.split(' ', 1, expand=True)

In [12]:
users2 = users[["UserID", "FirstName", "LastName", "EmailAddress"]].copy()

In [13]:
users2.head()

   UserID FirstName  LastName                    EmailAddress
0       1    Ronald    Murphy      williamholland@example.com
1       2     Scott     Allen             scott22@example.org
2       3  Jonathan   Parrish            brooke16@example.org
3       4     Megan  Williams         elizabeth31@example.net
4       5   Kathryn     Brown  pattersonalexandra@example.org

In [14]:
users2.isna().sum().sum()

0

In [15]:
def generate_unique_phone_numbers(count):
    phone_numbers = set()
    while len(phone_numbers) < count:
        
        start_digit = np.random.choice([8, 9])
        
        remaining_digits = np.random.randint(0, 10, 7)
        phone_number = str(start_digit) + ''.join(map(str, remaining_digits))
        phone_numbers.add(phone_number)
    return list(phone_numbers)

num_records = len(users)
unique_phone_numbers = generate_unique_phone_numbers(num_records)

In [16]:
users2['Contact'] = unique_phone_numbers

In [17]:
users2

      UserID FirstName   LastName                    EmailAddress   Contact
0          1    Ronald     Murphy      williamholland@example.com  85152456
1          2     Scott      Allen             scott22@example.org  96185760
2          3  Jonathan    Parrish            brooke16@example.org  83448395
3          4     Megan   Williams         elizabeth31@example.net  98295199
4          5   Kathryn      Brown  pattersonalexandra@example.org  92209251
...      ...       ...        ...                             ...       ...
2495    2496   Michael      Lopez     williamsroberto@example.org  92791818
2496    2497   Matthew    Woodard             lkaiser@example.com  90990924
2497    2498    Morgan     Barnes        erikaholland@example.net  87523265
2498    2499      Gina  Castaneda        reedcourtney@example.net  83729979
2499    2500      Mark  Nicholson         martinisaac@example.net  83644396

[2500 rows x 5 columns]

In [18]:
users2['Contact'].nunique()

2500

### *items Schema*

In [19]:
items.head()

,Sub Category,Price,Discount,Rating,Title,Currency,Feature
0,Batteries,$20.99,No Discount,NaN,"Duracell Coppertop Alkaline AA Batteries, 40-c...",$,POWER BOOST™ Ingredients Guaranteed For 12 Y...
1,Batteries,$20.99,No Discount,NaN,"Duracell Coppertop Alkaline AAA Batteries, 40-...",$,POWER BOOST™ Ingredients Guaranteed For 12 Y...
2,Batteries,$20.99,No Discount,NaN,"Duracell 9V Alkaline Batteries, 8-count",$,Long-Lasting Batteries Designed for Dependabil...
3,Batteries,$18.99,No Discount,NaN,"Duracell C Alkaline Batteries, 14-count",$,Long-Lasting Batteries Designed for Dependabil...
4,Batteries,$14.99,No Discount,Rated 4.8 out of 5 stars based on 125 reviews.,"Duracell 2032 Lithium Coin Batteries, 12-count",$,Our Longest Lasting Lithium Coin Battery Ever ...

In [20]:
items.isna().sum().sum()

14

In [21]:
items = items.dropna().reset_index(drop=True)

In [22]:
items.isna().sum().sum()

0

In [23]:
items.head()

,Sub Category,Price,Discount,Rating,Title,Currency,Feature
0,Batteries,$14.99,No Discount,Rated 4.8 out of 5 stars based on 125 reviews.,"Duracell 2032 Lithium Coin Batteries, 12-count",$,Our Longest Lasting Lithium Coin Battery Ever ...
1,Cameras & Camcorders,$289.99,Price valid through 1/21/24,Rated 4.2 out of 5 stars based on 238 reviews.,GoPro HERO11 Black Action Camera Bundle,$,"Also Includes: Shorty Hand Grip, Spare Enduro ..."
2,Cameras & Camcorders,$399.99,Price valid through 3/31/24,Rated 4.4 out of 5 stars based on 99 reviews.,Insta360 X3 - 5.7K 360° Action Camera Adventur...,$,X3 Captures 5.7K 360 Active HDR Video Dual 1...
3,Cameras & Camcorders,$429.99,No Discount,Rated 4.4 out of 5 stars based on 115 reviews.,DJI Mini 3 Drone Aerial Camera Bundle,$,Less Than 249g (0.55lbs) Ultralight and Foldab...
4,Cameras & Camcorders,$239.97,No Discount,Rated 4.1 out of 5 stars based on 311 reviews.,GoPro HERO10 Black Action Camera Bundle,$,"Also Includes: Extra Battery/Charger, Compact ..."

In [24]:
items2 = items[['Title', 'Feature', 'Price']].copy()

In [25]:
items2.rename(columns={'Title': 'ItemName', 'Feature': 'Description'}, inplace=True)

In [26]:
items2.head()

,ItemName,Description,Price
0,"Duracell 2032 Lithium Coin Batteries, 12-count",Our Longest Lasting Lithium Coin Battery Ever ...,$14.99
1,GoPro HERO11 Black Action Camera Bundle,"Also Includes: Shorty Hand Grip, Spare Enduro ...",$289.99
2,Insta360 X3 - 5.7K 360° Action Camera Adventur...,X3 Captures 5.7K 360 Active HDR Video Dual 1...,$399.99
3,DJI Mini 3 Drone Aerial Camera Bundle,Less Than 249g (0.55lbs) Ultralight and Foldab...,$429.99
4,GoPro HERO10 Black Action Camera Bundle,"Also Includes: Extra Battery/Charger, Compact ...",$239.97

In [27]:
items2['Price'] = items2['Price'].str.replace('$', '')

C:\Users\quay\AppData\Local\Temp\ipykernel_6996\351648958.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  items2['Price'] = items2['Price'].str.replace('$', '')

In [28]:
items2

,ItemName,Description,Price
0,"Duracell 2032 Lithium Coin Batteries, 12-count",Our Longest Lasting Lithium Coin Battery Ever ...,14.99
1,GoPro HERO11 Black Action Camera Bundle,"Also Includes: Shorty Hand Grip, Spare Enduro ...",289.99
2,Insta360 X3 - 5.7K 360° Action Camera Adventur...,X3 Captures 5.7K 360 Active HDR Video Dual 1...,399.99
3,DJI Mini 3 Drone Aerial Camera Bundle,Less Than 249g (0.55lbs) Ultralight and Foldab...,429.99
4,GoPro HERO10 Black Action Camera Bundle,"Also Includes: Extra Battery/Charger, Compact ...",239.97
...,...,...,...
627,"Arcade1Up Infinity Game Table 32”, $100 Game C...",Tactile Feedback to add Levels of Immersion ...,949.99
628,"Arcade1Up Infinity Game Board 18.5”, $25 Game ...",50 Board Games and Activities Included 18.5-...,449.99
629,Arcade1Up NBA Jam Partycade 3 Games in 1,3 Games Included 17-inch LCD Color Screen ...,199.99
630,Backbone One (Lightning) - PlayStation Edition...,The Backbone App is Your Gaming & Streaming Hu...,49.97
631,Xbox Series X Diablo IV Bundle with Additional...,Xbox Series X Console Diablo® IV for Xbox On...,599.99

In [29]:
items2['ItemID'] = range(1, len(items2) + 1)

In [30]:
items2.head()

,ItemName,Description,Price,ItemID
0,"Duracell 2032 Lithium Coin Batteries, 12-count",Our Longest Lasting Lithium Coin Battery Ever ...,14.99,1
1,GoPro HERO11 Black Action Camera Bundle,"Also Includes: Shorty Hand Grip, Spare Enduro ...",289.99,2
2,Insta360 X3 - 5.7K 360° Action Camera Adventur...,X3 Captures 5.7K 360 Active HDR Video Dual 1...,399.99,3
3,DJI Mini 3 Drone Aerial Camera Bundle,Less Than 249g (0.55lbs) Ultralight and Foldab...,429.99,4
4,GoPro HERO10 Black Action Camera Bundle,"Also Includes: Extra Battery/Charger, Compact ...",239.97,5

In [31]:
items2['UserID'] = np.random.randint(1, 2501, len(items2))

In [32]:
items2.head()

,ItemName,Description,Price,ItemID,UserID
0,"Duracell 2032 Lithium Coin Batteries, 12-count",Our Longest Lasting Lithium Coin Battery Ever ...,14.99,1,570
1,GoPro HERO11 Black Action Camera Bundle,"Also Includes: Shorty Hand Grip, Spare Enduro ...",289.99,2,418
2,Insta360 X3 - 5.7K 360° Action Camera Adventur...,X3 Captures 5.7K 360 Active HDR Video Dual 1...,399.99,3,1877
3,DJI Mini 3 Drone Aerial Camera Bundle,Less Than 249g (0.55lbs) Ultralight and Foldab...,429.99,4,231
4,GoPro HERO10 Black Action Camera Bundle,"Also Includes: Extra Battery/Charger, Compact ...",239.97,5,1943

In [33]:
items2 = items2[['ItemID', 'UserID', 'ItemName', 'Description', 'Price']]

In [34]:
items2.head()

,ItemID,UserID,ItemName,Description,Price
0,1,570,"Duracell 2032 Lithium Coin Batteries, 12-count",Our Longest Lasting Lithium Coin Battery Ever ...,14.99
1,2,418,GoPro HERO11 Black Action Camera Bundle,"Also Includes: Shorty Hand Grip, Spare Enduro ...",289.99
2,3,1877,Insta360 X3 - 5.7K 360° Action Camera Adventur...,X3 Captures 5.7K 360 Active HDR Video Dual 1...,399.99
3,4,231,DJI Mini 3 Drone Aerial Camera Bundle,Less Than 249g (0.55lbs) Ultralight and Foldab...,429.99
4,5,1943,GoPro HERO10 Black Action Camera Bundle,"Also Includes: Extra Battery/Charger, Compact ...",239.97

In [35]:
items2.isna().sum().sum()

0

In [36]:
groupby = items2.groupby('UserID').size().reset_index(name='Count')
groupby[groupby['Count'] > 1]

     UserID  Count
4        42      2
13       85      2
21      147      2
32      187      2
35      199      2
..      ...    ...
515    2308      3
520    2337      2
531    2385      3
542    2424      2
550    2479      2

[67 rows x 2 columns]

## listings schema

In [38]:
num_entries = 50

# ListingID
listing_id = range(1, num_entries + 1)

# BorrowerID & LenderID
borrower_id = np.random.randint(1, 2501, size=num_entries)
lender_id = np.random.randint(1, 2501, size=num_entries)

for i in range(num_entries):
    while borrower_id[i] == lender_id[i]:
        lender_id[i] = np.random.randint(1, 2501)

# ItemsID
item_ids = np.random.randint(1, 2501, size=num_entries)

# StartDate & EndDate
start_date_base = datetime.strptime('01-01-2024', '%d-%m-%Y')
end_date_limit = datetime.strptime('01-09-2024', '%d-%m-%Y')

start_dates = [start_date_base + timedelta(days=random.randint(0, (end_date_limit - start_date_base).days)) for _ in range(num_entries)]
end_dates = [start_dates[i] + timedelta(days=random.randint(1, (end_date_limit - start_dates[i]).days)) for i in range(num_entries)]

# Creating Return_Flag column with all values as True (1)
return_flag = [1] * num_entries

# Create the DataFrame
listings = pd.DataFrame({
    'ListingID': listing_id,
    'BorrowerID': borrower_id,
    'LenderID': lender_id,
    'ItemsID': item_ids,
    'StartDate': start_dates,
    'EndDate': end_dates,
    'Return_Flag': return_flag
})

In [39]:
listings.head()

   ListingID  BorrowerID  LenderID  ItemsID  StartDate    EndDate  Return_Flag
0          1        1864       710     2042 2024-04-20 2024-07-29            1
1          2        1124      2262     1275 2024-02-29 2024-04-11            1
2          3        1906      2278     2277 2024-03-14 2024-03-31            1
3          4        1519      1495      524 2024-05-03 2024-07-08            1
4          5        2283      2073     2218 2024-04-17 2024-07-16            1

### small unit test practice

In [53]:
def test_borrower_lender_ids(df):
    for i in range(len(df)):
        assert df.loc[i, 'BorrowerID'] != df.loc[i, 'LenderID'], \
            f"BorrowerID and LenderID are the same for ListingID {df.loc[i, 'ListingID']}"
    print("No same ID")

test_borrower_lender_ids(listings)

No same ID

In [57]:
def test_invalid_dates(df):
    for i in range(len(df)):
        assert df.loc[i, 'EndDate'] > df.loc[i, 'StartDate'], \
            f"EndDate is not greater than StartDate for ListingID {df.loc[i, 'ListingID']}"
    print("No EndDate > StartDate")
test_invalid_dates(listings)

No EndDate > StartDate